@import "./settings.css";
.main {
    height: 350px;
    width: 350px;
    border-radius: 10%;
    background-color: #000000da;
    color: #ffffff;
    margin-top: 30px;
}
.main p {
    font-size: 26px;
    text-align: center;
    position: relative;
    top: 40px;
}
.main button {
    border: 2px solid #ffffff;
    width: 100px;
    height: 27px;
    margin-top: 65px;
    margin-left: 125px;
}
.main button:hover {
    background: linear-gradient(45deg, #e4a982, #2aa0d6);
    color:rgb(26, 6, 14);
    border: 2px solid rgb(26, 6, 14);
}
